<%- include('../partials/_header') %>
<body>
  <div id="wrapper">
    <header>
      <%- include('../partials/_navigation') %>
    </header>
    <main>
      <section class="vehicle-detail-section">
        <h1><%= title %></h1>
        <%- detailHTML %>
      </section>
    </main>
    <footer>
      <%- include('../partials/_footer') %>
    </footer>
  </div>
</body>
</html>