<%- include('../partials/_header') %>
<body>
  <div id="wrapper">
    <header>
      <%- include('../partials/_navigation') %>
    </header>
    <main>
      <section class="error-section">
        <h1><%= title %></h1>
        <div class="error-content">
          <p><%= message %></p>
          <a href="/" class="btn">Return to Home</a>
        </div>
      </section>
    </main>
    <footer>
      <%- include('../partials/_footer') %>
    </footer>
  </div>
</body>
</html>